# ملفات Xcode
**/DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# ملفات CocoaPods
# كنخليو الـ Podfile والـ Podfile.lock ولكن كنمنعو مجلد الـ Pods كامل
**/Pods/
**/.symlinks/

# ملفات Flutter (مهمة!)
# حيدنا المنع على Generated.xcconfig و flutter_export_environment.sh
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
ServiceDefinitions.json

# الـ Registrant كيتولد تلقائياً فـ الماك
Runner/GeneratedPluginRegistrant.*

# ملفات أخرى
**/.generated/
**/.vagrant/
.DS_Store
.tags*
.sconsign.dblite
Icon?